<thead>
	<th>Name</th>
	<th>Date</th>
	<th>Note</th>
	<th></th>
</thead>
<tbody>
{% for reminder in reminders %}
	<tr>
			<td>{{reminder.contact.first_name}} {% if reminder.contact.spouse_name != None and reminder.contact.spouse_name != '' %}and {{reminder.contact.spouse_name}} {% endif %}{{reminder.contact.last_name}}</td>
			<td>{{reminder.remind_date}}</td>	
			<td>{{reminder.note}}</td>
			<td><a class="modalConnect" href="/{{reminder.pk}}/update_reminder/" table_to_update="#tabTable" modal="#reminderFormModal">Mark as complete</a></td>
	</tr>
{% endfor %}
{% if not reminders %}
	<tr>
		<td>No reminders scheduled</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
{% endif %}
</tbody>